@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(64, 85, 111);
  /* border-radius: 2px; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(44, 59, 78);
}

/* Example custom styles */
body {
  font-family: Arial, sans-serif;
}

.section:hover {
  background-color: #f8f9fa;
}

/* Add this CSS to your styles */

.navMobile {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

.navMobile.open {
  max-height: 300px; /* Adjust based on the height of your menu */
}


#home{
  position: relative;
}


/* Carousel.css */


.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  width: 550px;
  height: 300px;
  border-radius: 10px;
}

.carousel-content a{
  transition: 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 1rem;
}

.carousel-controls > button{
  background-color: rgb(46, 46, 45) !important;
  padding: 10px;
  font-weight: 900;
  border-radius: 10px;
}

.carousel-navigation {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: white;
  padding: 1rem;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 1rem;
}

.carousel-navigation {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  white-space: x-2;
}

button.prev,
button.next {
  /* background: none; */
  border: none;
  cursor: pointer;
}



/* MEDIA QUERIES */

@media (max-width: 639px) {

  .carousel-container{
    width: 100%;
     /* height: 100%; */
    overflow: hidden;
    position: relative;
  }

  .carousel-content{
    position: absolute;
    left: -100%;
    /* right: 0; */
    top: 40%;
    /* z-index: 10; */
    max-width: 420px;
    background-color: transparent;
    color: black;
    font-weight: 500;
    margin-inline: auto;
    align-tracks: tighter;
  }

  .heading{
    color: #2563eb;
    font-size: 25px;
  }

  .btnIntro{
    /* margin-top: 50px; */
    border-color: #2563eb;
    color: #2563eb;
    margin-bottom: 30px;
  }

  .btnIntro:hover{
    background-color: #2563eb !important;
    color: white;
  }

  .navigation-circle{
    width: 5px;
    height: 5px;
  }

  .prev{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .next{
    width: 30px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NavBar{
    position:sticky;
  }

  #home{
    background-color: rgb(239, 239, 239);
  }
}