@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 184, 103);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(33, 151, 84);
}

body {
  font-family: Arial, sans-serif;
}



.navMobile {
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
}

.navMobile.open {
  max-height: 300px;
}

#home {
  position: relative;
}

/* Carousel.css */
.carousel-inner {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
  box-shadow: inset 0px 0px 45px rgba(0, 0, 0, 0.3);
}

.carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item > img{
  display: inline-block;
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.3);
}


.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 10px;
  gap: 20px;
}

.carousel-content > .heading{
  color: rgb(46, 198, 112);
}

.carousel-content a {
  transition: 0.3s ease-in-out;
  color: rgb(46, 198, 112);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 1rem;
}

.carousel-controls button {
  background-color: rgb(41, 184, 103);
  padding: 10px;
  font-weight: 900;
  border-radius: 10px;
}

.carousel-navigation {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  /* space-x-2; */
}

.navigation-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.navigation-circle.bg-white {
  background-color: white;
}

.btnIntro:hover {
  background-color: rgb(44, 193, 108);
  color: white;
}


/* Styling for Services Section */


.effect{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.quick-links > a:hover{
  color: rgb(86, 162, 244);
  transition: 0.3s;
}

.our-services > a:hover{
  color: rgb(86, 162, 244);
  transition: 0.3s;
}




/* MEDIA QUERIES */

@media (max-width: 370px){
  .carousel-content{
    position: absolute;
    top: 80%;
  }
}


@media (max-width: 639px) {
  .carousel-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  .mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
  }

  .Link{
    width: 230px;
  }

  .servicesCard{
    width: 70%;
  }

  .form{
    width: 90%;
  }

  .aboutPara{
    width: 90%;
  }

  .carousel-item > img{
    aspect-ratio: 1/1;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2);
    /* border-radius: 5px; */
  }

  .carouselText{
    margin: 0 !important;
  }

  .carousel-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    padding: 1rem;
    width: 100%;
    max-width: 95%;
    margin-inline: auto;
    border-radius: 10px;
    display: flex;
    gap: 15px;
  }

  .heading {
    font-size: 1.5rem;
    color: rgb(41, 184, 103);

  }

  .btnIntro {
    border-color: rgb(41, 178, 100);
    /* border-radius: none; */
  }

  .btnIntro:hover {
    background-color: rgb(44, 193, 108);
    color: white;
  }

  .navigation-circle {
    width: 5px;
    height: 5px;
  }

  .carousel-navigation{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* space-x-2; */
  }

  .prev, .next {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 184, 103);
  }

  .NavBar {
    position: sticky;
  }

  #home {
    background-color: rgb(239, 239, 239);
  }

  
  .carousel-controls{
    position: absolute;
    width: 100%;
    top: 50%;
    /* bottom: 6rem; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    /* space-x-2; */
  }
}

@media (min-width: 639px) and (max-width: 768px) {
  .carousel-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  .servicesCard{
    width: 50%;
  }

  .carousel-item > img{
    aspect-ratio: 4/3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .aboutPara{
    width: 90%;
  }

  .form{
    width: 80%;
  }

  .carousel-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    padding: 1rem;
    width: 100%;
    max-width: 90%;
    margin-inline: auto;
    border-radius: 10px;
    gap: 10px;
  }

  .Link{
    
  }

  .heading {
    font-size: 1.6rem;
    color: rgb(41, 184, 103);
  }

  .carouselText{
    font-size: 1.1rem;
  }

  .btnIntro {
    border-color: rgb(44, 193, 108);
    color: rgb(44, 193, 108);
    font-weight: 600;
    font-size: 1rem;
  }

  .btnIntro:hover {
    background-color: rgb(44, 193, 108);
    color: white;
  }

  .navigation-circle {
    width: 8px;
    height: 8px;
  }

  .carousel-controls{
    position: absolute;
    width: 100%;
    top: 50%;
    /* bottom: 6rem; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
  }

  .carousel-navigation{
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* space-x-2; */
  }

  .prev, .next {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 184, 103);
  }

  .NavBar {
    position: sticky;
  }

  #home {
    background-color: rgb(239, 239, 239);
  }
}

@media (min-width: 768px) and (max-width: 900px){
  .carousel-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  .carousel-item > img{
    aspect-ratio: 3/2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    /* width: 100%; */
    max-width: 50%;
    margin-inline: auto;
    border-radius: 10px;
    gap: 15px;
  }

  .form{
    width: 70%;
  }

  .heading {
    font-size: 1.5rem;
    color: rgb(41, 184, 103);
    /* margin-top: 50px; */
  }

  .carouselText{
    font-size: 1rem;
  }

  .btnIntro {
    border-color: rgb(44, 193, 108);
    color: rgb(44, 193, 108);
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
  }

  .btnIntro:hover {
    background-color: rgb(44, 193, 108);
    color: white;
  }

  .navigation-circle {
    width: 10px;
    height: 10px;
  }

  .carousel-navigation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    display: flex;
    /* space-x-2; */
  }


  .carousel-controls{
    position: absolute;
    width: 100%;
    top: 50%;
    /* bottom: 6rem; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    /* space-x-2; */
  }

  .prev, .next {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NavBar {
    position: sticky;
  }

  #home {
    background-color: rgb(239, 239, 239);
  } 
}

@media (min-width: 900px) and (max-width: 1024px){

  .carousel-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .carousel-item > img{
    aspect-ratio: 3/2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .form{
    width: 65%;
  }

  .carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    max-width: 50%;
    margin-inline: auto;
    border-radius: 10px;
    gap: 20px;
  }

  .heading {
    font-size: 1.8rem;
    color: rgb(41, 184, 103);
    /* margin-top: 50px; */
  }

  .carouselText{
    font-size: 1.15rem;
  }

  .btnIntro {
    border-color: rgb(44, 193, 108);
    color: rgb(44, 193, 108);
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
    font-size: 1rem;
  }

  .btnIntro:hover {
    background-color: rgb(44, 193, 108);
    color: white;
  }

  .navigation-circle {
    width: 10px;
    height: 10px;
  }

  .carousel-navigation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    display: flex;
    /* space-x-2; */
  }


  .carousel-controls{
    position: absolute;
    width: 100%;
    top: 50%;
    /* bottom: 10rem; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    /* space-x-2; */
  }

  .prev, .next {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 184, 103);
  }

  .NavBar {
    position: sticky;
  }

  #home {
    background-color: rgb(239, 239, 239);
  }
}

@media (min-width: 1024px) and (max-width: 1280px){
  .carousel-container {
    width: 100%;
    height: 1024px;
    overflow: hidden;
    position: relative;
  }

  .carousel-item > img{
    aspect-ratio: 4/3;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-controls{
    position: absolute;
    width: 100%;
    top: 50%;
    /* bottom: 10rem; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    /* space-x-2; */
  }
   
  .navigation-circle {
    width: 15px;
    height: 15px;
  }

  .form{
    width: 60%;
  }

  .btnIntro:hover {
    background-color: rgb(44, 193, 108);
    color: white;
  }

  .prev, .next {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-navigation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    display: flex;
    /* space-x-2; */
  }

  .heading {
    font-size: 2.2rem;
    color: rgb(41, 184, 103);
    /* margin-top: 50px; */
  }

  .carousel-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1080px) and (max-width: 1920px){
  .carousel-container {
    width: 100%;
    height: 1024px;
    overflow: hidden;
    position: relative;
  }

  .carousel-item > img{
    aspect-ratio: 3/2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .carousel-controls{
    position: absolute;
    width: 100%;
    top: 50%;
    /* bottom: 15rem; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    /* space-x-2; */
  }
  
  .carousel-content{
    gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: transparent; */
  }

  .navigation-circle {
    width: 15px;
    height: 15px;
  }

  .prev, .next {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-navigation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -85%);
    display: flex;
    /* space-x-2; */
  }

  .btnIntro{
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgb(44, 193, 108);
  }

  .btnIntro:hover {
    background-color: rgb(44, 193, 108);
    color: white;
  }

  .heading {
    font-size: 2rem;
    color: rgb(41, 184, 103);
    /* margin-top: 50px; */
  }

  .carousel-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}